/* Features */

.features-list {
display: flex;

  flex-direction: column;

  gap: 72px;
}

.features-item {
min-width: 0;
}

.features-icons {
display: none;
}

.features-item-title {
margin-bottom: 8px;

  font-size: 36px;

  font-weight: 700;

  line-height: 1.11;

  text-align: center;

  color: #2e2f42;
}

.features-item-text {
font-weight: 500;
}

/* Tablet */

@media (min-width: 768px) {
.features-list {
flex-direction: row;

    flex-wrap: wrap;

    gap: 72px 24px;
}

.features-item {
width: calc((100% - 24px) / 2);
}

.features-item-title {
text-align: left;
}
}

/* Desktop */

@media (min-width: 1158px) {
.features-list {
gap: 24px;
}

.features-item {
width: calc((100% - 72px) / 4);
}

.features-icons {
display: flex;

    align-items: center;

    justify-content: center;

    height: 112px;

    margin-bottom: 8px;

    border: 1px solid #8e8f99;

    border-radius: 4px;

    background-color: #f4f4fd;
}

.features-item-title {
font-size: 20px;

    font-weight: 500;

    line-height: 1.2;
}

.features-item-text {
font-weight: 400;
}
}
