/* Portfolio */

.portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list {
display: flex;

  flex-direction: column;

  gap: 48px;
}

.portfolio-list-item {
min-width: 0;

  outline-offset: 4px;

  box-shadow:

    0 2px 1px rgba(46, 47, 66, 0.08),

    0 1px 1px rgba(46, 47, 66, 0.16),

    0 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
position: relative;

  overflow: hidden;
}

.portfolio-item-image {
width: 100%;

  height: 280px;

  object-fit: cover;
}

.portfolio-overlay {
position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  padding: 40px 32px;

  color: #f4f4fd;

  background-color: #4d5ae5;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay,

.portfolio-list-item:focus .portfolio-overlay,

.portfolio-list-item:focus-within .portfolio-overlay {
transform: translateY(0);
}

.portfolio-content {
padding: 32px 16px;

  border: 1px solid #e7e9fc;

  border-top: none;
}

.portfolio-item-title {
margin-bottom: 8px;

  font-size: 20px;

  font-weight: 500;

  line-height: 1.2;

  color: #2e2f42;
}

/* Tablet */

@media (min-width: 768px) {
.portfolio-list {
flex-direction: row;

    flex-wrap: wrap;

    gap: 72px 24px;
}

.portfolio-list-item {
width: calc((100% - 24px) / 2);
}

.portfolio-item-image {
height: 300px;
}
}

/* Desktop */

@media (min-width: 1158px) {
.portfolio-list {
gap: 48px 24px;
}

.portfolio-list-item {
width: calc((100% - 48px) / 3);

    box-shadow: none;
}
}
